# Directories that only contain binary files
# General project asset structure
raidsim/[Aa]ssets/[Aa]udio/
raidsim/[Aa]ssets/[Ff]onts/
raidsim/[Aa]ssets/[Ii]mages/
raidsim/[Aa]ssets/[Mm]odels/
raidsim/[Aa]ssets/[Pp]lugins/
raidsim/[Aa]ssets/[Pp]lugin/
raidsim/[Aa]ssets/[Aa]ssetStore/
raidsim/[Aa]ssets/[Aa]sset Store/
raidsim/[Aa]ssets/[Ss]ample/
raidsim/[Aa]ssets/[Ss]amples/
raidsim/[Aa]ssets/[Rr]esources/[Rr]untime/
raidsim/[Aa]ssets/[Rr]esources/[Rr]untime/
raidsim/[Aa]ssets/[Ss]hared/[Mm]odels/
raidsim/[Aa]ssets/[Ss]hared/[Tt]extures/
raidsim/[Aa]ssets/TextMesh Pro/Documentation/
raidsim/[Aa]ssets/TextMesh Pro/Fonts/
raidsim/[Aa]ssets/TextMesh Pro/Sprites/
raidsim/[Aa]ssets/[Tt]extures/
raidsim/[Aa]ssets/[Ss]treamingAssets/
raidsim/[Aa]ssets/[Ww]ebGLTemplates/
raidsim/[Aa]ssets/[Ww]ebGLTemplates.meta
[Tt]est/
# General Unity3D directory structure
raidsim/[Tt]emp/
raidsim/[Ll]ibrary/
raidsim/config/
raidsim/[Oo]bj/
raidsim/[Ll]og/
raidsim/[Ll]ogs/
raidsim/[Bb]in/
raidsim/[Rr]elease/
raidsim/[Rr]eleases/
raidsim/[Bb]uild/
raidsim/[Bb]uilds/
raidsim/[Ss]ource/
raidsim/[Mm]emoryCaptures/
[Bb]uild/
[Bb]uilds/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Ss]ource/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
# Project specific structure
blue/
raidsim/Assets/Aevus/
raidsim/Assets/Animations/
raidsim/Assets/AssetStore/
raidsim/Assets/Editor/
raidsim/Assets/Mirror/
raidsim/Assets/Standard Assets/
raidsim/Assets/TextMesh Pro/
raidsim/Assets/FFXIV/Fights/M4S/Animations/
raidsim/Assets/FFXIV/Fights/M4S/Audio/
raidsim/Assets/FFXIV/Fights/M4S/Textures/
raidsim/Assets/FFXIV/Fights/M4S/Models/
raidsim/Assets/FFXIV/Fights/M4S/Icons/
raidsim/Assets/FFXIV/Fights/M8S/Animations/
raidsim/Assets/FFXIV/Fights/M8S/Audio/
raidsim/Assets/FFXIV/Fights/M8S/Textures/
raidsim/Assets/FFXIV/Fights/M8S/Models/
raidsim/Assets/FFXIV/Fights/M8S/Icons/
raidsim/Assets/FFXIV/Fights/M12S/Animations/
raidsim/Assets/FFXIV/Fights/M12S/Audio/
raidsim/Assets/FFXIV/Fights/M12S/Textures/
raidsim/Assets/FFXIV/Fights/M12S/Models/
raidsim/Assets/FFXIV/Fights/M12S/Icons/
raidsim/Assets/FFXIV/Fights/P4S/Animations/
raidsim/Assets/FFXIV/Fights/P4S/Audio/
raidsim/Assets/FFXIV/Fights/P4S/Textures/
raidsim/Assets/FFXIV/Fights/P4S/Models/
raidsim/Assets/FFXIV/Fights/P4S/Icons/
raidsim/Assets/FFXIV/Fights/P8S/Animations/
raidsim/Assets/FFXIV/Fights/P8S/Audio/
raidsim/Assets/FFXIV/Fights/P8S/Textures/
raidsim/Assets/FFXIV/Fights/P8S/Models/
raidsim/Assets/FFXIV/Fights/P8S/Icons/
raidsim/Assets/FFXIV/Fights/P12S/Animations/
raidsim/Assets/FFXIV/Fights/P12S/Audio/
raidsim/Assets/FFXIV/Fights/P12S/Textures/
raidsim/Assets/FFXIV/Fights/P12S/Models/
raidsim/Assets/FFXIV/Fights/P12S/Icons/
raidsim/Assets/FFXIV/Fights/E12S/Animations/
raidsim/Assets/FFXIV/Fights/E12S/Audio/
raidsim/Assets/FFXIV/Fights/E12S/Textures/
raidsim/Assets/FFXIV/Fights/E12S/Models/
raidsim/Assets/FFXIV/Fights/E12S/Icons/
raidsim/Assets/FFXIV/Fights/O12S/Animations/
raidsim/Assets/FFXIV/Fights/O12S/Audio/
raidsim/Assets/FFXIV/Fights/O12S/Textures/
raidsim/Assets/FFXIV/Fights/O12S/Models/
raidsim/Assets/FFXIV/Fights/O12S/Icons/
raidsim/Assets/FFXIV/Fights/A8S/Animations/
raidsim/Assets/FFXIV/Fights/A8S/Audio/
raidsim/Assets/FFXIV/Fights/A8S/Textures/
raidsim/Assets/FFXIV/Fights/A8S/Models/
raidsim/Assets/FFXIV/Fights/A8S/Icons/
raidsim/Assets/FFXIV/Fights/A12S/Animations/
raidsim/Assets/FFXIV/Fights/A12S/Audio/
raidsim/Assets/FFXIV/Fights/A12S/Textures/
raidsim/Assets/FFXIV/Fights/A12S/Models/
raidsim/Assets/FFXIV/Fights/A12S/Icons/
raidsim/Assets/FFXIV/Fights/TEA/Animations/
raidsim/Assets/FFXIV/Fights/TEA/Audio/
raidsim/Assets/FFXIV/Fights/TEA/Textures/
raidsim/Assets/FFXIV/Fights/TEA/Models/
raidsim/Assets/FFXIV/Fights/TEA/Icons/
raidsim/Assets/FFXIV/Fights/UCOB/Animations/
raidsim/Assets/FFXIV/Fights/UCOB/Audio/
raidsim/Assets/FFXIV/Fights/UCOB/Textures/
raidsim/Assets/FFXIV/Fights/UCOB/Models/
raidsim/Assets/FFXIV/Fights/UCOB/Icons/
raidsim/Assets/FFXIV/Fights/TOP/Animations/
raidsim/Assets/FFXIV/Fights/TOP/Audio/
raidsim/Assets/FFXIV/Fights/TOP/Textures/
raidsim/Assets/FFXIV/Fights/TOP/Models/
raidsim/Assets/FFXIV/Fights/TOP/Icons/
raidsim/Assets/FFXIV/Fights/UWU/Animations/
raidsim/Assets/FFXIV/Fights/UWU/Audio/
raidsim/Assets/FFXIV/Fights/UWU/Textures/
raidsim/Assets/FFXIV/Fights/UWU/Models/
raidsim/Assets/FFXIV/Fights/UWU/Icons/
raidsim/Assets/FFXIV/Fights/DSR/Animations/
raidsim/Assets/FFXIV/Fights/DSR/Audio/
raidsim/Assets/FFXIV/Fights/DSR/Textures/
raidsim/Assets/FFXIV/Fights/DSR/Models/
raidsim/Assets/FFXIV/Fights/DSR/Icons/
raidsim/Assets/FFXIV/Fights/FRU/Animations/
raidsim/Assets/FFXIV/Fights/FRU/Audio/
raidsim/Assets/FFXIV/Fights/FRU/Textures/
raidsim/Assets/FFXIV/Fights/FRU/Models/
raidsim/Assets/FFXIV/Fights/FRU/Icons/
raidsim/Assets/FFXIV/Fights/CODC/Animations/
raidsim/Assets/FFXIV/Fights/CODC/Audio/
raidsim/Assets/FFXIV/Fights/CODC/Textures/
raidsim/Assets/FFXIV/Fights/CODC/Models/
raidsim/Assets/FFXIV/Fights/CODC/Icons/
raidsim/Assets/FFXIV/Fights/Bozja/Animations/
raidsim/Assets/FFXIV/Fights/Bozja/Audio/
raidsim/Assets/FFXIV/Fights/Bozja/Textures/
raidsim/Assets/FFXIV/Fights/Bozja/Models/
raidsim/Assets/FFXIV/Fights/Bozja/Icons/
raidsim/Assets/FFXIV/Fights/Zadnor/Animations/
raidsim/Assets/FFXIV/Fights/Zadnor/Audio/
raidsim/Assets/FFXIV/Fights/Zadnor/Textures/
raidsim/Assets/FFXIV/Fights/Zadnor/Models/
raidsim/Assets/FFXIV/Fights/Zadnor/Icons/
raidsim/Assets/FFXIV/Fights/OC/Animations/
raidsim/Assets/FFXIV/Fights/OC/Audio/
raidsim/Assets/FFXIV/Fights/OC/Textures/
raidsim/Assets/FFXIV/Fights/OC/Models/
raidsim/Assets/FFXIV/Fights/OC/Icons/
raidsim/Assets/FFXIV/Fights/test/Animations/
raidsim/Assets/FFXIV/Fights/test/Audio/
raidsim/Assets/FFXIV/Fights/test/Textures/
raidsim/Assets/FFXIV/Fights/test/Models/
raidsim/Assets/FFXIV/Fights/test/Icons/
raidsim/Assets/FFXIV/Fights/Demo/Animations/
raidsim/Assets/FFXIV/Fights/Demo/Audio/
raidsim/Assets/FFXIV/Fights/Demo/Textures/
raidsim/Assets/FFXIV/Fights/Demo/Models/
raidsim/Assets/FFXIV/Fights/Demo/Icons/
raidsim/Assets/FFXIV/Fights/Universal/Animations/
raidsim/Assets/FFXIV/Fights/Universal/Audio/
raidsim/Assets/FFXIV/Fights/Universal/Textures/
raidsim/Assets/FFXIV/Fights/Universal/Models/
raidsim/Assets/FFXIV/Fights/Universal/Icons/
raidsim/Assets/FFXIV/Universal/Animations/
raidsim/Assets/FFXIV/Universal/Archive/
raidsim/Assets/FFXIV/Universal/Audio/
raidsim/Assets/FFXIV/Universal/Textures/
raidsim/Assets/FFXIV/Universal/Models/
raidsim/Assets/FFXIV/Universal/Icons/
tools/ffxiv-raid-sim-updater/bin/
tools/ffxiv-raid-sim-updater/obj/
tools/raidsim-tools-blender/build
tools/raidsim-animation-tool/backup/
tools/raidsim-animation-tool/xivAnim/.vs/
tools/raidsim-animation-tool/xivAnim/bin/
tools/raidsim-animation-tool/xivAnim/obj/
tools/raidsim-animation-tool/xivAnim/config.json
tools/raidsim-animation-tool/xivAnim/xivAnim.Cli/bin/
tools/raidsim-animation-tool/xivAnim/xivAnim.Cli/obj/
tools/raidsim-animation-tool/xivAnim/xivAnim.Core/bin/
tools/raidsim-animation-tool/xivAnim/xivAnim.Core/obj/
tools/raidsim-animation-tool/xivAnim/xivAnim.Gui/bin/
tools/raidsim-animation-tool/xivAnim/xivAnim.Gui/obj/
tools/raidsim-animation-tool/xivAnim/xivAnim.Gui.Linux/bin/
tools/raidsim-animation-tool/xivAnim/xivAnim.Gui.Linux/obj/
tools/raidsim-animation-tool/xivAnim/xivAnim.Gui.Windows/bin/
tools/raidsim-animation-tool/xivAnim/xivAnim.Gui.Windows/obj/
tools/misc-utilities/frame-counter/.venv
tools/misc-utilities/msdfgen-1.13/done

# Visual Studio cache directory
.vs/
raidsim/.vs/
tools/ffxiv-raid-sim-updater/.vs/
tools/raidsim-animation-tool/xivAnim/.vs/
.vscode/
raidsim/.vscode/
tools/ffxiv-raid-sim-updater/.vscode/
tools/raidsim-animation-tool/xivAnim/.vscode/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
raidsim/*.csproj
raidsim/*.unityproj
*.sln
*.sln.docstates
*.suo
*.tmp
*.user
*.rsuser
*.userprefs
*.userosscache
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
mono_crash.*
*.vsconfig*

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta

# Unity3D Generated Crash Reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

# - Below this line are various loose files defined that are used within Unity3D -

# Lighting and reflections
*.exr
*.exr.meta

# Compressed archives
*.rar
*.rar.meta
*.zip
*.zip.meta
*.7z
*.7z.meta
*.tar.gz
*.tar.gz.meta
*.gz
*.gz.meta

# Textures
*.pdn
*.pdn.meta
*.tga
*.tga.meta
*.png
*.png.meta
*.jpg
*.jpg.meta
*.jpeg
*.jpeg.meta
*.raw
*.raw.meta
*.psd
*.psd.meta

# 3D Models
*.obj
*.obj.meta
*.dae
*.dae.meta
*.fbx
*.fbx.meta
*.FBX
*.FBX.meta
*.blend
*.blend.meta
*.blend1
*.blend1.meta
*.ma
*.ma.meta

# Misc
*.ini
*.ini.meta
todo.txt
access_lfs_server.bat

# - Above this line are various loose files defined that are used within Unity3D -

# gdrive components
.gdrive/gdrive_config.txt
*.keep
console.cloud.google.txt

# --------------------------------------------------------------------------------------------------------------------------
# --------------------------------------------------------------------------------------------------------------------------
# --------------------------------------------------------------------------------------------------------------------------

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Benchmark Results
BenchmarkDotNet.Artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# StyleCop
StyleCopReport.xml

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio Trace Files
*.e2e

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# AxoCover is a Code Coverage Tool
.axoCover/*
!.axoCover/settings.json

# Coverlet is a free, cross platform Code Coverage Tool
coverage*[.json, .xml, .info]

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# Note: Comment the next line if you want to checkin your web deploy settings,
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# checkin your Azure Web App publish settings, but sensitive information contained
# in these scripts will be unencrypted
PublishScripts/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak

# SQL Server files
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
*.vbw

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# CodeRush personal settings
.cr/personal

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Uncomment if you are using it
# tools/**
# !tools/packages.config

# Tabs Studio
*.tss

# Telerik's JustMock configuration file
*.jmconfig

# BizTalk build output
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# OpenCover UI analysis results
OpenCover/

# Azure Stream Analytics local run output
ASALocalRun/

# MSBuild Binary and Structured Log
*.binlog

# NVidia Nsight GPU debugger configuration file
*.nvuser

# MFractors (Xamarin productivity tool) working folder
.mfractor/

# Local History for Visual Studio
.localhistory/

# BeatPulse healthcheck temp database
healthchecksdb

# Backup folder for Package Reference Convert tool in Visual Studio 2017
MigrationBackup/

# Ionide (cross platform F# VS Code tools) working folder
.ionide/

.DS_Store
.vscode
